* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 100%;
    width: 85%;
    margin: 0 auto;
}



.hd-img{
    width: 81px;
    height: 28px;
    margin-top: 30px;
    
}

ul{
    display: flex;
   flex-wrap: wrap;
    align-items: start;
    justify-content: space-evenly;
    gap: 40px;
    margin-left: 38px;

}


.hd-p{
   padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 24px;
  background-color: black;
    width: 156px;
    height: 41px;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 600px;

}


.ul-p{
    display: flex;
flex-wrap: wrap;

}

.nav{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}


li{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    gap: 30px;

}

a{
    color: black;
    font-family: Plus Jakarta Sans;


}

header{
    border-bottom: 1px solid rgb(180, 176, 176);

}


.sec-h2{
    width: 550px;
    height: 56px;
    font-size: 50px;
    font-family: sans-serif;
    margin-top: 40px;

}

.sec1-btn:hover{
    transition: 300ms ease;
    width: 168px;
    height: 59px;
    background-color: #edf1f0;
    border: solid 2px #1AAB7B;
    border-radius: 8px;
    margin-top: 160px;
    color:#1AAB7B;
    font-size: 17px;
}


.sec1-btn{
    width: 168px;
    height: 59px;
    background-color: #1AAB7B;
    border: none;
    border-radius: 8px;
    margin-top: 160px;
    color: white;
    font-size: 17px;
}

.iframe-sec1{
    width: 590px;
height: 330px;
margin-top: 70px;

}

.main-sec1{
    display: flex;
    justify-content: space-evenly;
}

h1{
    font-family: sans-serif;
font-size: 36px;
text-align: center;
margin-top: 140px;

}

.container2{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #F2F4F6;

}



.box1{
    width: 384px;
    height: 358px;
    border: solid 2px rgb(217, 216, 216);
   padding: 30px 30px 30px;
   font-family: sans-serif;
   border-radius: 9px;
   margin-top: 60px;
}

.box1:hover{
    width: 384px;
    height: 358px;
   padding: 30px 30px 30px;
   font-family: sans-serif;
   border-radius: 9px;
   margin-top: 60px;
   background-color: #1AAB7B;
   color: white;
   transition: 300ms ease;
}

.box1:active{
    width: 384px;
    height: 358px;
    border: solid 2px rgb(217, 216, 216);
   padding: 30px 30px 30px;
   font-family: sans-serif;
   border-radius: 9px;
   margin-top: 60px;
   background-color: #1AAB7B;
   color: white;
   transition: 300ms ease;
}


.sec2-h2{
    font-size: 32px;
    padding-bottom: 29px;

}


.sec2-p{
    width: 324px;
    height: 135px;
    font-size: 22px;
}

.sec2-btn{
    margin-top: 70px;
    font-size: 24px;
    border: none;
}



.all-box{
display: flex;
flex-wrap: wrap;
gap: 10px;
margin-bottom: 90px;

}




.sec2{
    background-color: #F2F4F6;
}


.sec3-h2{
    font-family: sans-serif;
font-size: 36px;
text-align: center;
margin-top: 40px;
font-size: 35px;
text-align: center;
padding-top: 50px;
padding-bottom: 100px;

}

.sec3-bg-img{
    background-image: url('./image\ 1\ \(2\).png');
    background-repeat: no-repeat;
    background-size: cover;
    width:  1216px;
    height: 515px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 40px;
    height: 550px;
}

.sec3-end{
    display: flex;
    flex-direction: column;
    width: 565px;
    height: 434px;
    background-color: rgba(0, 0, 0, 0.73);
    align-items: center;
    margin: 0 auto;
    padding-top: 45px;
    border: none;
    padding-bottom: 40px;
    color: white;
}


input{
    font-size: 22px;
    background: rgba(0, 0, 0, 0.73);
    color: white;
    margin-top: 45px;
    border: none;
    border-bottom: #F2F4F6;
}


.sec3-btn:hover{
    width: 217px;
    height: 59px;
    background-color: #edf1f0;
    border: solid 2px #1AAB7B;
    border-radius: 8px;
    margin-top: 30px;
    color:#1AAB7B;
    font-size: 17px;
    font-size: 24px;
    transition: 300ms ease;

}

.sec3-btn{
    width: 217px;
    height: 59px;
    background-color: #1AAB7B;
    border: solid 2px #1AAB7B;
    border-radius: 8px;
    margin-top: 30px;
    color:#eef2f1;
    font-size: 17px;
    font-size: 24px;

}

::placeholder{
    color: white;
    border-bottom: white;
   
}

footer{
    margin-top: 50px;
    background: rgba(16, 16, 16, 1);
    display: flex;
    height: 220px;
    align-items: center;
    justify-content: space-between;
}

.ft-img{
    display: flex;
    gap: 40px;
    margin-right: 100px;
}

.img{
    margin-left: 120px;
}
